body{
    background-color: rgb(221, 176, 120);
}
h1{
    color: rgb(252, 252, 252);
text-align: center;
}

.Titulo{
    background-color: rgb(255, 0, 51);
    width: 100%;
}

.logo{
    text-align: center;
    font-size: 1.5em;
}
nav{
    text-align: center;
    font-size: 1.5em;
}
.banner{
width: 100%;
height: 100%;
}
   .container{
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: auto;
    }
    footer{
        background-color: darkgrey;
        width: 100%;
        font-size: 1.2em;
    }

   .hist{
    font-size: 1.2em;
   }

   .pilotos{
    font-size: 1.2em;
    width: 80%;
    margin: auto;
   }

   h2{
    text-align: center;
    font-size: 1.2em;
   }

li{
   font-size: 1.5rem;
}

